<div class= "table-cont flex col jc-c ai-c">
  <table class="timetable">
    <tr class="table-header">
      <th class="day">Monday</th>
    </tr>
    <tr class="empty"><td></td></tr>
    <% timetable_classes.monday.each do |my_class| %>
      <tr>
        <td class="class-cont">
          <div class="class flex col level_<%= my_class.ballet_class.ballet_level.id %>">
            <a class="class__name"><%= my_class.ballet_class.ballet_level.name%></a>
            <a class="class__time"><%= "#{my_class.start_time} - #{my_class.end_time}" %></a>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
  <table class="timetable">
    <tr class="table-header">
      <th class="day">Tuesday</th>
    </tr>
    <tr class="empty"><td></td></tr>
    <% timetable_classes.tuesday.each do |my_class| %>
      <tr>
        <td class="class-cont">
          <div class="class flex col level_<%= my_class.ballet_class.ballet_level.id %>">
            <a class="class__name"><%= my_class.ballet_class.ballet_level.name%></a>
            <a class="class__time"><%= "#{my_class.start_time} - #{my_class.end_time}" %></a>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
  <table class="timetable">
    <tr class="table-header">
      <th class="day">Wednesday</th>
    </tr>
    <tr class="empty"><td></td></tr>
    <% timetable_classes.wednesday.each do |my_class| %>
      <tr>
        <td class="class-cont">
          <div class="class flex col level_<%= my_class.ballet_class.ballet_level.id %>">
            <a class="class__name"><%= my_class.ballet_class.ballet_level.name%></a>
            <a class="class__time"><%= "#{my_class.start_time} - #{my_class.end_time}" %></a>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
  <table class="timetable">
    <tr class="table-header">
      <th class="day">Thursday</th>
    </tr>
    <tr class="empty"><td></td></tr>
    <% timetable_classes.thursday.each do |my_class| %>
      <tr>
        <td class="class-cont">
          <div class="class flex col level_<%= my_class.ballet_class.ballet_level.id %>">
            <a class="class__name"><%= my_class.ballet_class.ballet_level.name%></a>
            <a class="class__time"><%= "#{my_class.start_time} - #{my_class.end_time}" %></a>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
  <table class="timetable">
    <tr class="table-header">
      <th class="day">Friday</th>
    </tr>
    <tr class="empty"><td></td></tr>
    <% timetable_classes.friday.each do |my_class| %>
      <tr>
        <td class="class-cont">
          <div class="class flex col level_<%= my_class.ballet_class.ballet_level.id %>">
            <a class="class__name"><%= my_class.ballet_class.ballet_level.name%></a>
            <a class="class__time"><%= "#{my_class.start_time} - #{my_class.end_time}" %></a>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
  <table class="timetable">
    <tr class="table-header">
      <th class="day">Saturday</th>
    </tr>
    <tr class="empty"><td></td></tr>
    <% timetable_classes.saturday.each do |my_class| %>
      <tr>
        <td class="class-cont">
          <div class="class flex col level_<%= my_class.ballet_class.ballet_level.id %>">
            <a class="class__name"><%= my_class.ballet_class.ballet_level.name%></a>
            <a class="class__time"><%= "#{my_class.start_time} - #{my_class.end_time}" %></a>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>

