<footer>
  <div class="footer_cont flex ai-c jc-sa">
    <div class="footer_details_cont flex">
      <div class="logo_grey flex ai-c">
        <%= image_tag("logo-grey.webp", alt: "malvern ballet logo grey") %>
      </div>
      <div class="footer_details flex col ai-c">
        <div class="flex"><h1>Malvern</h1><h2> BALLET SCHOOL</h2></div>
        <p>291 Auchenflower Road</p>
        <p>Darfield</p>
        <p>Christchurch</p>
        <p><%= link_to "021-141-9477", "tel:021-141-9477" %></p>
        <p><%= mail_to "malvernballetschool@gmail.com", "malvernballetschool@gmail.com" %></p>
      </div>
    </div>

    <div class= "header-menu jc-sa ai">
      <h2><%= link_to "Enrol", enrolments_path, class: "button button-footer", data: { header_targets: ["menu", "classes"] } %></h2>
      <h2><%= link_to "Classes", ballet_levels_path(), class: "button button-footer", data: { header_targets: ["menu", "classes"] } %></h2>
      <h2><%= link_to "Timetable", timetable_path(id: 'current'), class: "button button-footer", data: { header_targets: ["menu", "timetable"] } %></h2>
      <h2><%= link_to "BootyBarre", bootybarre_path, class: "button button-footer", data: { header_targets: ["menu", "bootybarre"] } %></h2>
    </div>

    <div class="social_auth_cont flex jc-c">
      <div class="rounded-social-buttons">
          <a class="social-button facebook" href="https://www.facebook.com/malvernballetschool" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a class="social-button instagram" href="https://www.instagram.com/malvernballetschool/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>