<header data-header-target="headercont" id="main_header" data-turbo-permanent class= "header-cont flex jc-sb">
  <div data-header-target= "logocont" class= "logo-cont">
    <%= link_to image_tag("logo.webp", class: "logo", alt: "malvern ballet logo", data: { header_target: "logohome", action: "click->header#removeUnderline" }), home_path %> 
    <%= link_to image_tag("logo blue.webp", class: "secondary", alt: "malvern ballet logo", data: { header_target: "logoother", action: "click->remove#classesUnderline" }), home_path %>
  </div> 


  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container main' for="menu-toggle">
    <div class='menu-button'>
    </div>
  </label>
  <ul class="menu">
    <li class="flex ai-c"><%= link_to "Enrol", enrolments_path, class: "button button-mobile-menu" %></li>
    <li class="flex ai-c"><%= link_to "Classes", ballet_levels_path(), class: "button button-mobile-menu" %></li>
    <li class="flex ai-c"><%= link_to "Timetable", timetable_path(id: 'current'), class: "button button-mobile-menu" %></li>
    <li class="flex ai-c"><%= link_to "BootyBarre", bootybarre_path, class: "button button-mobile-menu" %></li>
  </ul>

  <div class="main menu_header_cont">
    <div class= "header-menu jc-sb ai">
      <h2><%= link_to "Enrol", enrolments_path, class: "button button-main", data: { header_targets: ["menu", "classes"] } %></h2>
      <h2><%= link_to "Classes", ballet_levels_path(), class: "button button-main", data: { header_targets: ["menu", "classes"] } %></h2>
      <h2><%= link_to "Timetable", timetable_path(id: 'current'), class: "button button-main", data: { header_targets: ["menu", "timetable"] } %></h2>
      <h2><%= link_to "BootyBarre", bootybarre_path, class: "button button-main", data: { header_targets: ["menu", "bootybarre"] } %></h2>
    </div>
  </div>

</header>