<section 
data-controller= "header"
data-header-logo-class= "logo-secondary"
data-header-pictureout-class= "secondary" 
data-header-picturein-class= "logo" 
data-header-blue-class="header-colour" 
data-header-underline-class="button-underline"
id= "home" 
class= "home__cont flex col">
  <div class= "home__upper flex col jc-sb">
    <%= render "shared/header" %>
    <%= render "shared/title" %>
  </div>
  <div data-header-target= "home" class= "home__lower">
  </div>
</section>

<section class=banner> 
  <%= image_tag "banner2.webp", class: "banner-pic"%>
</section>

<section class=bio>
  <div class="card">
    <%= image_tag "saba2.jpeg", class: "card__picture"%>
    <div class=card__description><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div> 
  </div>
</section>


<section class="about flex col">
  <div class="portrait__container flex row-reverse">
    <%= image_tag "picture1.jpg", class: "portrait"%>
    <div class="register__container flex"></div>
    <div class="register__line flex jc-c ai-fe">
      <button class="register__button">REGISTER INTEREST</button>
    </div>
  </div>
  <div class="landscape__container flex">
    <%= render "gallery" %>
    <div  class="form__container flex">
    </div>
  </div>


</section>
<script>
  document.getElementById("home").style.height = `${window.innerHeight}px`;
</script>