<body>

<section class=banner> 
  <%= image_tag "banner2.jpg", class: "banner-pic"%>
</section>

<section class=bio>
  <div class="card">
    <%= image_tag "headshot.jpg", class: "card__picture"%>
    <div class=card__description><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div> 
  </div>
</section>


<section class="about flex col">
  <div class="portrait__container flex row-reverse">
    <%= image_tag "picture1.jpg", class: "portrait"%>
    <div class="register__container flex"></div>
    <div class="register__line flex jc-c ai-fe">
      <button class="register__button">REGISTER INTEREST</button>
    </div>
  </div>
  <div class="landscape__container flex">
    <div data-controller="slideshow" class=gallery>
      <div class="gallery__left">
        <div data-action="click->slideshow#previous", data-slideshow-target="previous", class=button-arrow>
          <a class="arrow__element">&#8249;</a>
        </div>
      </div>
      <div data-slideshow-target="slide", class= "gallery__picture"><%= image_tag "picture2.jpg", class: "picture"%></div>
      <div data-slideshow-target="slide", class= "gallery__picture"><%= image_tag "Grade1.jpg", class: "picture"%></div>
      <div data-slideshow-target="slide", class= "gallery__picture"><%= image_tag "Grade2.jpg", class: "picture"%></div>
      <div class="gallery__right">
        <div data-slideshow-target="next", data-action="click->slideshow#next", class=button-arrow>
          <a class="arrow__element">&#8250;</a>
        </div>
      </div>
    </div>
    <div  class="form__container flex">
    </div>
  </div>


</section>
<%
=begin%>
 <section id=about>
  <div id=about-container class=about-cont>
    <div id=about-upper class=upper-lower-cont>
      <div id=about-upper-left class=about-cont>
        <button id="register">REGISTER INTEREST
        </button>
      </div>
      <div id=about-upper-right class=about-cont>
        <img id=portrait-pic src="{% static 'homepage/images/picture1.jpeg' %}">
      </div>
      <div id="vline">
      </div>

    </div>
    <div id=about-lower class=upper-lower-cont>
      <div id=about-prev>
        <a class="previous round">&#8249;</a>
      </div>
      <div id=about-lower-left class=about-cont>
        <img id=gallery src="{% static 'homepage/images/picture2.jpeg' %}">
        <div id=about-next>
          <a class="next round">&#8250;</a>
        </div>
      </div>
      <div id=about-lower-right class=about-cont>
        <h2 id=description> Grace </h2>
      </div>
    </div>
  </div>
  <div id="hline"></div>
</section> 
<%
=end%>



<%
=begin%>
 <%= render partial: "ballet_classes/ballet_class", collection: @ballet_classes %> 
<%
=end%>



</body>