<footer class="footer-wrapper background-image footer-layout5 footer-layout7 footer-layout10">
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xl-4">
                    <div class="widget footer-widget">
                        <div class="th-widget-about">
                            <div class="about-logo">
                                <a href="index.html"><%= image_tag "logo-white.svg", alt: "Danza"%></a>
                            </div>
                            <p class="about-text">Credibly synthesize visionary systems before functionalized channels. Dynamically enable
                                intermediated relationships through.</p>
                            <div class="th-social-wrapper">
                                <div class="office-hour">
                                    <h4 class="title">opening hour:</h4>
                                    <span class="desc">Monday to Saturday 10:00 AM - 09:00 PM</span>
                                </div>
                                <div class="th-social">
                                    <h6 class="social-title">Follow Us:</h6>
                                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="https://www.google.com/"><i class="fa-brands fa-google"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Quick Links</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="dance-classes.html">Classes</a></li>
                                <li><a href="class-Schedule.html">Schedule</a></li>
                                <li><a href="#">Package</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Contact Now</h3>
                        <div class="th-widget-contact">
                            <div class="info-box">
                                <div class="info-box_icon">
                                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                                </div>
                                <p class="info-box_text">
                                    835 Middle Country Rd, NY 11784, USA
                                </p>
                            </div>
                            <div class="info-box">
                                <div class="info-box_icon">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <p class="info-box_text">
                                    <a href="tel:+(163)-1202-0088" class="info-box_link">+(163)-1202-0088</a>
                                    <a href="tel:+(163)-1202-0099" class="info-box_link">+(163)-1202-0099</a>
                                </p>
                            </div>
                            <div class="info-box">
                                <div class="info-box_icon">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <p class="info-box_text">
                                    <a href="mailto:help24/7@gmail.com" class="info-box_link">help24/7@gmail.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Newsletter</h3>
                        <form class="newsletter-widget">
                            <p class="footer-text">Sign Up to get updates & news about us.</p>
                            <div class="form-group">
                                <input class="form-control" type="email" placeholder="Enter your email" required="">
                            </div>
                            <button type="submit" class="th-btn red-btn style5 btn-fw">SUBSCRIBE NOW</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-mockup d-none d-xxl-block" data-bottom="10%" data-left="0%"><%= image_tag "shape/footer-shape10-1.png", alt: "shape"%></div>
    <div class="shape-mockup d-none d-xxl-block" data-top="0%" data-right="0%"><%= image_tag "shape/footer-shape10-2.png", alt: "shape"%></div>
    <div class="shape-mockup d-none d-xxl-block" data-top="10%" data-left="2%"><%= image_tag "shape/footer-shape10-3.png", alt: "shape"%></div>
    <div class="shape-mockup d-none d-xxl-block" data-bottom="20%" data-right="2%"><%= image_tag "shape/footer-shape10-4.png", alt: "shape"%></div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2024
                        By
                        <a href="https://themeforest.net/user/themeholy">Danza</a>. All Rights Reserved.
                    </p>
                </div>
                <div class="col-lg-6">
                    <div class="footer-copyright-right">
                        <ul>
                            <li><a href="terms-conditions.html">Terms of use </a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>