<!DOCTYPE html>
<html lang="en">

<head>
  <title>Malvern Ballet</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-cache-control" content="no-cache">
  <meta name="description" content="Welcome to Malvern Ballet School, Inspiring tomorrows dancers today!">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= favicon_link_tag asset_path("favicon.ico") %>
</head>

<body>

  <!-- Header -->
  <%= render Layout::HeaderComponent.new(current_page: controller_name == "home" ? "home" : controller_name) %>

  <% if notice %>
  <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>

  <!-- Footer -->
  <%= render Layout::FooterComponent.new %>
</body>

</html>