<!DOCTYPE html>
<html>
  <head>
    <title>Malvern</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path("logo.jpg") %>
  </head>

  <body>
    <section  
    id= "timetable" 
    class= "flex col" 
    data-controller= "header" 
    data-header-pictureout-class= "secondary" 
    data-header-logo-class= "logo-secondary" 
    data-header-blue-class="header-colour"
    data-header-underline-class="button-underline">
      <%= render "shared/main_header" %>
      <%= link_to "term1", timetable_path(id: '1'), data: { header_target: "other" } %>
      <%= link_to "term2", timetable_path(id: '2') %>
      <%= link_to "term3", timetable_path(id: '3') %>
      <%= link_to "term4", timetable_path(id: '4') %>
      <%= yield %>
    </section>
  </body>
</html>